<!DOCTYPE html>
<html>

<head>
	<title>Página de Error</title>
	<link rel="stylesheet" href="~/Css/styleErr404.css">
	<link href='//fonts.googleapis.com/css?family=Josefin+Sans:400,100,100italic,300,300italic,400italic,600,600italic,700,700italic'
		  rel='stylesheet' type='text/css'>

	<!-- For-Mobile-Apps-and-Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript">
		addEventListener("load", function() {
			setTimeout(hideURLbar, 0); }, false);
			function hideURLbar(){
				window.scrollTo(0,1);
			}
	</script>
	<!-- //For-Mobile-Apps-and-Meta-Tags -->
	<script src="~/js/jquery-2.1.4.min.js"></script>
	
</head>

<body>
	<div class="main">
		<div class="agile">
			<div class="agileits_main_grid">
				<div class="agileits_main_grid_left">
					<h1>Evaluación 360</h1>
				</div>
				<div class="clear"> </div>
			</div>
			<div class="w3l">
				<div class="text">
					<h1>Página no encontrada</h1>
					<p>Ha hecho click en un enlace que no se puede encontrar.</p>
					<p>Por favor verifique la url o vaya a 
						<a href="~/Home/Index">Página Pincipal</a> y vea si puede encontrar lo que está buscando</p>
				</div>
				<div class="image">
					<img src="~/images/smile.png">
				</div>
				<div class="clear"></div>
			</div>
			
		</div>
	</div>
</body>

</html>