@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<!-- Head -->

<head>
    <title>Index | Home :: </title>
    <!--meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Pooled Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

    <!-- Bootstrap Core CSS -->
    <link href="~/Css/bootstrap-intense.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Css/style-Intense.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/Css/morris.css" type="text/css" />*@
    <!-- Graph CSS -->
    <link href="~/Css/font-awesome.css" rel="stylesheet">
    <link href="~/Css/jquery-ui.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <!-- //jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/Css/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
</head>

<body>
    <header id="home">
        <div class="container">
            <div class="header d-lg-flex justify-content-between align-items-center py-sm-3 py-2 px-sm-2 px-1">
                <!-- logo -->
                <div id="logo">
                    <h1 style="font-size:x-large; align-content:flex-start"><a>Evaluación Docente</a></h1>
                </div>
                <!-- //logo -->
                <div class="nav_w3ls ml-lg-5">
                    <nav>
                        <ul class="nav nav-pills" style="font-size:small">
                            <li class="nav-item"><a class="nav-link" href="/Home/Index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/Home/About/">About</a></li>
                            <li id="Admin">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrador</a>
                                <input type="checkbox" id="drop-2" />
                                <ul>
                                    <li><a href="~/User/List" class="drop-text" style="font-size:xx-small">Administrar Usuarios</a></li>

                                </ul>
                            </li>
                            <li id="Evaluaciones">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Evaluaciones</a>
                                <input type="checkbox" id="drop-3" />
                                <ul>
                                    <li><a href="~/Positions/List" class="drop-text" style="font-size:xx-small">Cargos</a></li>
                                    <li><a href="~/EvaluationPosition/List" class="drop-text" style="font-size:xx-small">Cargos Evaluadores</a></li>
                                    <li><a href="~/Section/List" class="drop-text" style="font-size:xx-small">Dominios</a></li>
                                    <li><a href="~/RandomQuestion/List" class="drop-text" style="font-size:xx-small">Preguntas</a></li>
                                    <li><a href="~/EvaluationProcesses/List" class="drop-text" style="font-size:xx-small">Procesos de Evaluación</a></li>
                                    <li><a href="~/PositionQuestion/List" class="drop-text" style="font-size:xx-small">Preguntas por Cargo</a></li>
                                </ul>
                            </li>
                            <li id="NormalUser">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuario Evaluado</a>
                                <input type="checkbox" id="drop-3" />
                                <ul>
                                    <li><a href="~/AutoEvaluationQuestion/Create" class="drop-text" style="font-size:xx-small">Responder Preguntas Evaluación</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="~/Home/Contact">Contacto</a></li>
                            <li class="nav-item"><a class="nav-link" href="~/User/LogOff">Cerrar Sesión</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- header -->
    <section class="banner">
        <div class="banner-bottom-w3ls">
            <div class="container">
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-copyright text-center py-3" style="background-color:#0083FF; color:white">
            <a> © 2020 Evaluación. All Rights Reserved | Design by Marco A. González</a>
        </div>
    </footer>
    <script>
        $(document).ready(function () {

            var userType = '@Request.RequestContext.HttpContext.Session["TipoUsuario"]';

            if (userType == 1) {
                document.getElementById("Evaluaciones").style.display = "none";
                document.getElementById("NormalUser").style.display = "none";

            }
            else if (userType == 2) {
                document.getElementById("Admin").style.display = "none";
                document.getElementById("NormalUser").style.display = "none";
            }
            else if (userType == 3) {
                document.getElementById("Admin").style.display = "none";
                document.getElementById("Evaluaciones").style.display = "none";
            }
        })

    </script>
</body>
</html>

